---
language: objective-c
osx_image: xcode7.3

before_install:
- brew update
- ./stun
- openssl aes-256-cbc -K $encrypted_fc09caee863a_key -iv $encrypted_fc09caee863a_iv -in .dropbox_uploader.enc -out ~/.dropbox_uploader -d
install:
- brew install argon/mas/mas
# - sudo gem install bundler imgurr
# - brew install cybertk/formulae/mas --HEAD --env=std
- brew install packer
# - brew install dropbox-uploader
- curl "https://raw.githubusercontent.com/cybertk/Dropbox-Uploader/chunksize/dropbox_uploader.sh" -o /usr/local/bin/dropbox_uploader.sh
- chmod +x /usr/local/bin/dropbox_uploader.sh
# - brew cask install virtualbox
- sw_vers
- mas signin "$APPLE_ID" "$APPLE_ID_PASSWORD" || true
# - mas account
# - mas list
# # AppID is find with 'Copy Link' in MAS
- travis_wait mas install 1018109117
# - screencapture -Sx screenshot.jpg; imgurr upload screenshot.jpg

script:
- ./create_box
# - screencapture -Sx screenshot.jpg; imgurr upload screenshot.jpg

after_script:
- ls -ahl out
- dropbox_uploader.sh -c 150 upload out/*.dmg install.dmg
notifications:
  email: false

# deploy:
#   provider: script
#   skip_cleanup: true
#   script: deploy.sh
#   on:
#     branch: dpl-dropbox

