---
language: objective-c
osx_image: xcode7.3

before_install:
- ./stun
- python3 -m http.server
- openssl aes-256-cbc -K $encrypted_fc09caee863a_key -iv $encrypted_fc09caee863a_iv -in debug.key.enc -out debug.key -d
- chmod 0600 debug.key
- ./config_vnc.sh
install:
- sudo gem install bundler imgurr
- env
- brew install cybertk/formulae/mas --HEAD --env=std
- brew install packer
- brew cask install virtualbox

script:
- sw_vers
- mas signin "$APPLE_ID" "$APPLE_ID_PASSWORD"
- screencapture -Sx screenshot.jpg; imgurr upload screenshot.jpg
# - mas account
# - mas list
# # AppID is find with 'Copy Link' in MAS
- mas install 1018109117
- screencapture -Sx screenshot.jpg; imgurr upload screenshot.jpg

- ls -l /Applications
- ./create_box
- screencapture -Sx screenshot.jpg; imgurr upload screenshot.jpg

- while true; do sleep 30; echo -n .; done

notifications:
  email: false

